# HugeIcons Pro npm registry configuration
# Copy this file to .npmrc and replace YOUR_LICENSE_KEY_HERE with your license key
# Get your key from: https://hugeicons.com/account (Tokens tab)
@hugeicons-pro:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=YOUR_LICENSE_KEY_HERE
